<nav>
    <div class="logo">Nerdy<span>Geek</span></div>
    <div class="nav-links">
        <a href="#" class="normal-link active-link">Home</a>
        <a href="#" class="normal-link">Creator</a>
        <a href="#" class="btn-dark">Login</a>
    </div>
</nav>